<div class="row">
    <div class="col-md-2 offset-md-5">
        <div class="mt-5" style="text-align: center">
            <h3 *ngIf="!productsName.length" style="color: red">Please Wait</h3>
            <div *ngFor="let productName of productsName">
                <button class="btn btn-warning" [disabled]="buttonDisabled" (click)="addProduct(productName)">
                    <span style="color: white; font-weight: 600">Add {{productName}}</span>
                </button>
                <br>
                <br>
            </div>

            <div *ngIf="redirected" class="text text-danger text-center" style="font-weight: 600">
                Redirecting to {{productSelected}} Insertion
            </div>
        </div>
    </div>
</div>